<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" 
                           @if (ViewBag.checkedValue == column.Key)
                                {<text>checked="checked"</text>}
                           else if(column.Key == "all")
                           {
                                {<text>checked="checked"</text>}
                           }
                    />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    @if (ViewBag.jobs != null)
    {

        @foreach (var job in ViewBag.jobs)
        {
        <table class="job-listing">
            <tr>
                <td>ID:</td>
                <td>@job.JobId</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@job.Name</td>
            </tr>
            <tr>
                <td>Employer:</td>
                <td>@job.EmployerName</td>
            </tr>
            <tr>
                <td>Skills:</td>
                <td>@job.SkillText</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>@job.Location</td>
            </tr>
        </table>
                }
           
        }


    </div>
